@using CitizenHackathon2025V5.Blazor.Client.Models;
@using Microsoft.AspNetCore.Components.Forms

<div class="page-list">
    <h3>Create a new Gpt Interaction</h3>
    <EditForm Model="NewGptInteraction" @OnSubmit="submit" class="form-control">
        <div class="form-control-sm">
            <label>Prompt : </label>
            <InputText @bind-Value="NewGptInteraction.Prompt"></InputText>
        </div>
        <div class="form-control-sm">
            <label>Response :</label>
            <InputText @bind-Value="NewGptInteraction.Response"></InputText>
        </div>
        <div class="form-control-sm">
            <label>CreatedAt : </label>
            <InputDate @bind-Value="NewGptInteraction.CreatedAt"></InputDate>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </EditForm>
</div>

@code {

}















































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




