@using CitizenHackathon2025V5.Blazor.Client.Models;
@using Microsoft.AspNetCore.Components.Forms

<div class="page-list">
    <h3>Create a new Suggestion</h3>
    <EditForm Model="NewSuggestion" @OnSubmit="submit" class="form-control">
        <div class="form-control-sm">
            <label>User_Id : </label>
            <InputNumber @bind-Value="NewSuggestion.User_Id"></InputNumber>
        </div>
        <div class="form-control-sm">
            <label>Date :</label>
            <InputDate @bind-Value="NewSuggestion.DateSuggestion"></InputDate>
        </div>
        <div class="form-control-sm">
            <label>OriginalPlace : </label>
            <InputText @bind-Value="NewSuggestion.OriginalPlace"></InputText>
        </div>
        <div class="form-control-sm">
            <label>SuggestedAlternatives : </label>
            <InputText @bind-Value="NewSuggestion.SuggestedAlternatives"></InputText>
        </div>
        <div class="form-control-sm">
            <label>Reason : </label>
            <InputText @bind-Value="NewSuggestion.Reason"></InputText>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </EditForm>
</div>

@code {

}






































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




