@using CitizenHackathon2025V5.Blazor.Client.Models;
@using Microsoft.AspNetCore.Components.Forms

<h3>Suggestion Create</h3>

<EditForm Model="NewSuggestion" @OnSubmit="submit" class="form-control">
    <div class="form-control-sm">
        <label>User_Id : </label>
        <InputNumber @bind-Value="NewSuggestion.User_Id"></InputNumber>
    </div>
    <div class="form-control-sm">
        <label>Date :</label>
        <InputDate @bind-Value="NewSuggestion.Date"></InputDate>
    </div>
    <div class="form-control-sm">
        <label>OriginalPlace : </label>
        <InputText @bind-Value="NewSuggestion.OriginalPlace"></InputText>
    </div>
    <div class="form-control-sm">
        <label>SuggestedAlternative : </label>
        <InputText @bind-Value="NewSuggestion.SuggestedAlternative"></InputText>
    </div>
    <div class="form-control-sm">
        <label>Reason : </label>
        <InputText @bind-Value="NewSuggestion.Reason"></InputText>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>

@code {

}






































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@