@page "/outzen"
@implements IAsyncDisposable
@using CitizenHackathon2025.Blazor.DTOs;
@using CitizenHackathon2025V5.Blazor.Client.Services.Interfaces

@inject IOutZenSignalRFactory OutZenFactory

<div class="page-list">
    <h3>OutZen Live Feed</h3>

    @if (crowdInfo != null)
    {
        <p><b>Crowd:</b> @crowdInfo.CrowdLevel - @GetDensityFromLevel(crowdInfo.CrowdLevel)</p>
    }

    @if (suggestions != null)
    {
        <ul>
            @foreach (var s in suggestions)
            {
                <li>@s.Title (@s.DistanceKm km)</li>
            }
        </ul>
    }
</div>

<Globe Width="450" Height="450" ShowControls="true" CssClass="mt-2" />








































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




