.suggestion-badge {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    padding: 20px;
}

    .suggestion-badge::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background-image: url('/images/glow-soft.png');
        background-size: cover;
        filter: blur(2px); /* Makes the glow even softer */
        z-index: -1;
    }
