/*wwwroot.css.base.base.css*/
/* very light reset */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--color-fg);
    background: var(--color-bg);
}

/* general helpers */
.container {
    width: min(1200px, 92vw);
    margin: 0 auto;
    padding: var(--spacing-md);
}

.scroll {
    overflow: auto;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.mt-md {
    margin-top: var(--spacing-md);
}