@page "/weather"
@using CitizenHackathon2025.Blazor.DTOs;
@using CitizenHackathon2025V5.Blazor.Client.Services
@inject WeatherForecastService WeatherSvc

<h3>Weather</h3>

@if (forecasts is null)
{
    <p>Loading…</p>
}
else if (forecasts.Count == 0)
{
    <p>No data available at the moment.</p>
}
else
{
    <ul>
        @foreach (var f in forecasts)
        {
            <li>@f.DateWeather: @f.TemperatureC °C — @f.Summary</li>
        }
    </ul>
}

@code {
    private IReadOnlyList<ClientWeatherForecastDTO>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await WeatherSvc.GetHistoryAsync();
    }
}

























































































































@* /*// Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved.*/ *@