@using CitizenHackathon2025.Blazor.DTOs;
@using CitizenHackathon2025V5.Blazor.Client.Services
@using Microsoft.AspNetCore.Components.Forms
@inject WeatherForecastService WeatherSvc
@inject NavigationManager Nav

<div class="page-list">
    <h3>Create a new Weather Forecast</h3>

    <EditForm Model="_new" OnValidSubmit="SubmitAsync" class="form-control">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-control-sm">
            <label>DateWeather :</label>
            <InputDate @bind-Value="_new.DateWeather" />
        </div>

        <div class="form-control-sm">
            <label>Temperature C :</label>
            <InputNumber @bind-Value="_new.TemperatureC" />
        </div>

        <div class="form-control-sm">
            <label>Summary :</label>
            <InputText @bind-Value="_new.Summary" />
        </div>

        <div class="form-control-sm">
            <label>Rainfall Mm :</label>
            <InputNumber @bind-Value="_new.RainfallMm" />
        </div>

        <div class="form-control-sm">
            <label>Humidity :</label>
            <InputNumber @bind-Value="_new.Humidity" />
        </div>

        <div class="form-control-sm">
            <label>Wind Speed Kmh :</label>
            <InputNumber @bind-Value="_new.WindSpeedKmh" />
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </EditForm>
</div>

@code {
    private ClientWeatherForecastDTO _new = new()
    {
        DateWeather = DateTime.UtcNow,
        Summary = "",
        TemperatureC = 0,
        RainfallMm = 0,
        Humidity = 0,
        WindSpeedKmh = 0
    };

    private async Task SubmitAsync()
    {
        var created = await WeatherSvc.CreateWeatherForecastAsync(_new);
        if (created is not null)
        {
            // Back to list / feedback
            Nav.NavigateTo("/weatherforecastview");
        }
        else
        {
            // TODO: display a toast/error
            Console.Error.WriteLine("CreateWeatherForecast failed.");
        }
    }
}































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




