@page "/help"
@inject Blazored.Toast.Services.IToastService ToastService

<h3>Help ?</h3>

<div>
    <p>
        OutZen is designed to enhance your event experience by providing real-time suggestions based on crowd levels, weather conditions, and traffic status. Here are some tips to help you make the most of the app:
    </p>
    <ul>
        <li>
            <strong>Real-time Updates:</strong> Ensure you have a stable internet connection to receive the latest suggestions and updates.
        </li>
        <li>
            <strong>Location Services:</strong> Enable location services on your device for accurate suggestions based on your current location.
        </li>
        <li>
            <strong>Notifications:</strong> Allow notifications to stay informed about significant changes in crowd levels or weather conditions.
        </li>
        <li>
            <strong>Explore Alternatives:</strong> Use the suggestions provided by OutZen to explore less crowded places and enjoy a more relaxed experience.
        </li>
        <li>
            <strong>Feedback:</strong> Your feedback is valuable! Use the contact information below to share your thoughts or report any issues.
        </li>
    </ul>
</div>
<div>
    <p>
        For any questions, suggestions, or feedback, please don't hesitate to reach out to us at:
        <nav>outzen@gmail.com</nav>
    </p>
</div>

@code {

}
