@page "/wasmcheck"
@implements IAsyncDisposable
@inject IJSRuntime JS

<div class="page-list">
    <h3>Diagnostic WebAssembly</h3>

    <p><strong>Statut :</strong> @status</p>

    <button class="btn btn-info" @onclick="CheckWasmAccess">Start verification</button>
</div>




































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




