<h3>RSSGeoportail</h3>

<a href="https://geoportail.lu" target="_blank">Geoportail.lu</a> provides RSS feeds for various geographic data layers. You can subscribe to these feeds to stay updated on changes and new information related to specific geographic features.

<div>
    <h4>Available RSS Feeds:</h4>
    <ul>
        <li><a href="https://geoportail.lu/rss/landuse.xml" target="_blank">Land Use Changes</a></li>
        <li><a href="https://geoportail.lu/rss/waterbodies.xml" target="_blank">Water Bodies Updates</a></li>
        <li><a href="https://geoportail.lu/rss/transport.xml" target="_blank">Transport Infrastructure Changes</a></li>
        <li><a href="https://geoportail.lu/rss/urbanplanning.xml" target="_blank">Urban Planning Developments</a></li>
    </ul>
    <p>To subscribe to an RSS feed, simply click on the desired link and use your preferred RSS reader to stay informed about the latest updates.</p>
</div>

<Globe />

@code {

}





















































































        @* /*// Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved.*/ *@