@page "/user/{Id:int}"
@page "/userdetail/{Id:int}"
@using CitizenHackathon2025.Blazor.DTOs;
@inject Blazored.Toast.Services.IToastService ToastService

<h3>User Detail</h3>

@if (CurrentUser is not null)
{
    <div class="user-detail">
        <p><strong>Email:</strong> @CurrentUser?.Email</p>
        <p><strong>Role:</strong> @CurrentUser?.Role</p>
    </div>
}
else
{
    <p>Loading User details...</p>
}
    





















































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




