@using CitizenHackathon2025V5.Blazor.Client.Models
@inherits UserDetailBase

<div class="user-detail">
    <p><strong>Email:</strong> @CurrentUser?.Email</p>
    <p><strong>Role:</strong> @CurrentUser?.Role</p>
</div>




















































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




